body{
    margin:0%;
    background-color: #1f1d1d;
}
.header{
    background-image: url('Images/header back-ground.png');
    background-size: 100% 100%;
}
#img{
    width: 40%;
}

.k_img{
    width: 50%;
    height: 300px;
    padding: 50px 4% 2px 20%;
      
}
.description{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:80px 0px 0px 0px;
}


.heading{
   text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0px;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}
.skills_img{
    margin-left: 5%;
}
.skills_imgele{
    height: 50px;
    width: 10%
}
@media screen and (min-width: 800px){
.hobbies_span{
    margin-left : 5%;
    padding: 10px 0.5% 10px 0.5%;
    background-color: rgb(83, 80, 80);
    color:#f5f5f5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
}
@media screen and (min-width: 700px) and (max-width: 799px){
    .hobbies_span{
        margin-left : 5%;
        padding: 10px 0.5% 10px 0.5%;
        background-color: rgb(83, 80, 80);
        color:#f5f5f5;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
}
@media screen and (min-width: 500px) and (max-width: 699px){
    .hobbies_span{
        margin-left : 5%;
        padding: 10px 0.5% 10px 0.5%;
        background-color: rgb(83, 80, 80);
        color:#f5f5f5;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
}
@media screen and (min-width: 400px) and (max-width: 599px){
    .hobbies_span{
        margin-left : 5%;
        padding: 10px 0.5% 10px 0.5%;
        background-color: rgb(83, 80, 80);
        color:#f5f5f5;
        font-size: 8px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
}
@media screen and (max-width: 499px){
    .hobbies_span{
        display:block;
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
        padding: 5px 0% 10px 0.5%;
        background-color: rgb(83, 80, 80);
        color:#f5f5f5;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
}

.map{
    width: 100%;
}


hr{
    color: whitesmoke;
}
.footer_copyright{
    text-align: center;
    padding-top: 20px;
    color:#f5f5f5;
}
